.basket-item {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 20px;
  padding-top: 10px;
}
.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}
.prod-quantity {
  font-size: 24px;
}
.prod-minus {
  font-size: 40px;
}
.basket-image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  border: 1px solid #b1b1b1;
  border-radius: 10px;
}
.prod-minus:hover {
  color: #b1b1b1;
}
.prod-plus:hover {
  color: #b1b1b1;
}
.prod-trash:hover {
  color: #b1b1b1;
}
.prod-trash {
  font-size: 40px;
}
.prod-plus {
  font-size: 40px;
}
.prod-name {
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  margin-left: auto;
}
.prod-price {
  font-weight: bold;
  font-size: 18px;
  margin-left: auto;
}
.img-name img {
  border-radius: 20px;
}
.img-name {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}
td {
  vertical-align: middle;
}
.total-basket {
  padding: 40px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #b1b1b1;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 20px;
  margin-top: 50px;
}
.total-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.basket-btn:hover {
  background-color: rgb(0, 223, 0);
}
.confirm-basket {
  color: white;
  font-size: 23px;
  border-radius: 20px;
  padding: 10px;
  margin: 30px;
}
.confirm-order {
  color: white;
  font-size: 23px;
  border-radius: 20px;
  padding: 10px;
  margin: 30px;
}
.total-price {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.total-price i {
  font-size: 60px;
  color: $blue;
}
.m-total-price {
  margin-left: 10px;
  font-weight: bold;
}
.empty-basket {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
}

.c-bt {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  margin: 20px;
}
