---

---

<div class="anav">
  <div class="container mx-auto">
    <h1 class="admin-title">Admin</h1>
  </div>
</div>
<style>
  .anav {
    border-bottom: 1px solid rgb(223, 223, 223);
  }
  .admin-title {
    font-size: 32px;
    padding: 10px;
    text-align: center;
  }
</style>
